@import url("https://fonts.googleapis.com/css2?family=Comfortaa:wght@700&display=swap");

* {
    font-family: "Comfortaa", cursive;
    text-align: center;
}

body {
    background-color: #45414d;
    color: #fff;
}

/* Header */
h1 {
    font-size: 400%;
}

/* Game Area */
#choices {
    margin: 0 auto;
    padding-top: 10px;
}

.game-area {
    display: inline-block;
    margin: 1% 3%;
}

#player-choice {
    width: 140px;
    height: 140px;
    border: 2px solid #fff;
    border-style: dashed;
    border-radius: 50%;
}

#computer-choice {
    width: 140px;
    height: 140px;
    border: 2px solid #fff;
    border-style: dashed;
    border-radius: 50%;
}