@import url("https://fonts.googleapis.com/css2?family=Comfortaa:wght@700&display=swap");

* {
    font-family: "Comfortaa", cursive;
    text-align: center;
}

body {
    background-color: #45414d;
    color: #fff;
}

/* Header */
h1 {
    font-size: 400%;
}

.fa-hand-back-fist {
    color: #ff2020;
}

.fa-hand {
    color: #ff7b20;
}

.fa-hand-scissors {
    color: #f1c40f;
}

.fa-hand-lizard {
    color: #00cc00;
}

.fa-hand-spock {
    color: #0093ff;
}

/* Game Area */
#choices {
    margin: 0 auto;
    padding-top: 10px;
}

#choices img {
    width: 75px;
    height: 75px;
}

#choices img:hover {
    border: 2px solid #ffffff;
    border-style: dashed;
    cursor: pointer;
    border-radius: 50%;
}

.game-area {
    display: inline-block;
    margin: 1% 3%;
}

#player-choice {
    width: 140px;
    height: 140px;
    border: 2px solid #fff;
    border-style: dashed;
    border-radius: 50%;
}

#computer-choice {
    width: 140px;
    height: 140px;
    border: 2px solid #fff;
    border-style: dashed;
    border-radius: 50%;
}

/* Result */
#result {
    font-size: 30px;
    width: 100%;
    background-color: #ffbf00;
    color: #45414d;
    padding: 0.5% 0;
    margin: 3% 0;
}

/* Rules Area */
#button {
    position: relative;
    top: 50%;
    background-color: #fff;
    color: #45414d;
    border: none;
    border-radius: 25px;
    padding: 15px;
    min-height: 30px;
    margin: 3% 0;
}

#button:hover {
    cursor: pointer;
    background-color: #45414d;
    color: #fff;
    border: #fff;
    border-style: dashed;
}

.game-rules {
    font-family: Condensed, sans-serif;
    display: none;
    position: fixed;
    z-index: 1;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    overflow: auto;
}

.rules-content {
    background-color: #fefefe;
    color: #45414d;
    border-style: dashed;
    border: #45414d;
    margin: 15% auto;
    padding: 20px;
    width: 40%;
}

/* The Close Button */
.close {
    color: #aaa;
    float: right;
    font-size: 28px;
    font-weight: bold;
}

.close:hover,
.close:focus {
    color: black;
    text-decoration: none;
    cursor: pointer;
}

/* Media Queries for Smaller Screens */
@media screen and (max-width: 1280px) {}

@media screen and (max-width: 768px) {}

@media screen and (max-width: 600px) {}